@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Nunito Sans';
}

.navbar {
  width: 100%;
  height: 390px;
  background-color: #2F2E41;
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  overflow-x: hidden;
}

#cover-image {
  height: 150px;
  width: 200px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.project-name {
  color: #FFFFFF;
  font-size: 36px;
  text-align: center;
}

.main {
  flex-grow: 1;
  background-color:#FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  /* border: 1px solid red; */
  margin-bottom: 0;
}

.explore-section-header {
  margin: 20px;
  color: #2F2E41;
}

hr {
  width: 90%;
  height: 2px;
  background-color: #D0CDE1;
  margin: 0;
  border: 0;
}

.search-bar {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  background-color: #D0CDE1;
  border-radius: 15px;
  width: 266px;
  padding: 4px 6px;
  align-items: center;
}

.searcBar__inputSpace {
  background-color: #FFFFFF;
  border-radius: 15px;
  flex-grow: 1;
  padding-left: 6px;
  font-size: 12px;
  height: 20px;
  margin: 0 4px;
  border: 0;
  /* display: flex; */
  /* align-items: flex-end; */
}

.search-bar__finderIcon {
  display: flex;
  align-items: center;
}

.dev-profiles-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  row-gap: 18px;
  margin: 30px 0;
}

.dev-profile {
  /* border: 1px solid yellowgreen; */
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #9F8E63;
}

.dev-profile__Image {
  width: 20px;
  margin-right: 5px;
  filter: invert(43%) sepia(14%) saturate(1458%) hue-rotate(223deg) brightness(92%) contrast(82%);
}

.dev-profile__link {
  height: 6px;
  margin-left: 4px;
  filter: invert(29%) sepia(94%) saturate(2966%) hue-rotate(208deg) brightness(97%) contrast(104%);
}

.add-dev-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.add-dev-section__Header {
  margin-bottom: 10px;
  color: #3F3D56;
}

.add-dev-section__btn {
  width: 180px;
  height: 30px;
  border-radius: 15px;
  background-color: #7C639F;
  color: #FFFFFF;
  border: 0;
}

.footer {
  font-size: 6px;
  color: #FFFFFF;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3F3D56;
}

.footer-heart {
  height: 5px;
  width: 5px;
  filter: invert(100%) sepia(0%) saturate(7423%) hue-rotate(110deg) brightness(117%) contrast(117%);
}

@media screen and (min-width: 600px) {
  .navbar {
    flex-direction: row-reverse;
    justify-content: center;
    height: 600px;
  }

  .project-name {
    font-size: 72px;
    margin: auto 100px;
  }

  #cover-image {
    width: 600px;
    height: 500px;
  }

  .explore-section-header {
    margin: 50px;
    font-size: 56px;
  }

  .search-bar {
    margin-top: 50px;
    width: auto;
    padding: 10px;
  }

  .searcBar__inputSpace {
    height: 50px;
    width: 700px;
    padding-left: 24px;
    font-size: 24px;
    color: #D0CDE1;
  }

  .searchBar__finderIcon {
    margin: auto 20px;
  }

  #finderIcon {
    height: 50px;
  }

  .dev-profiles-section {
    row-gap: 91px;
    column-gap: 134px;
    margin: 100px 0;
  }

  .dev-profile {
    font-size: 36px;
    font-weight: 400;
  }

  .dev-profile__Image {
    width: 100px;
    margin-right: 50px;
    filter: invert(43%) sepia(14%) saturate(1458%) hue-rotate(223deg) brightness(92%) contrast(82%);
  }

  .dev-profile__link {
    height: 15px;
    margin-left: 20px;
  }

  .add-dev-section {
    margin: 50px 0 30px;
    font-size: 36px;
  }

  .add-dev-section__Header {
    margin-bottom: 50px;
  }

  .add-dev-section__btn {
    width: auto;
    height: 80px;
    padding: 0 72px;
    font-size: 36px;
  }

  .footer {
    font-size: 24px;
    height: 80px;
  }

  .footer-heart {
    height: 24px;
    width: 24px;
  }
}

/* Modal box starts here */

.modal {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  background-color: #00000080;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow-y: auto; */
}

.modal-content {
  /* overflow:visible; */
  overflow: auto;
  position: absolute;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
  max-height: 1200px;
  height: 80%;
  max-width: 1040px;
  width: 80%;
  /* margin: 100px 0; */
}

.show-modal {
  opacity: 1;
  visibility: visible;
  z-index: 1;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal__header {
  font-size: 32px;
  margin: 50px  0;
  /* background-color: aquamarine; */
}

.modal__main {
  font-size: 24px;
  margin: 50px 0;
}

.profile-item {
  display: grid;
  grid-template-columns: 30px 1fr;
  row-gap: 20px;
  column-gap: 12px;
  margin-bottom: 25px;
}

.profile-item__logo {
  height: 30px;
  width: 30px;
}

.profile-item__userName {
  width: 600px;
  height: 50px;
  grid-column: 1 / 3;
  border: 1px solid #D0CDE1;
  border-radius: 10px;
}

.modal__footer {
  margin: 50px 0;
  display: flex;
  justify-content: flex-end;
}

.close-button {
  background-color:#FFFFFF;
  font-size: 24px;
  border: 0;
  margin: 0 50px;
  color: #3F3D56;
}

.submit-button {
  font-size: 24px;
  border: 0;
  border-radius: 15px;
  height: 50px;
  width: 175px;
  background-color: #7C639F;
  color: #FFFFFF;
}